*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shear style */

.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
}
.logo h2{ font-size: 45px;
  font-weight: 900;

}

.logo h2 span{
  color: orange;
}

.btn{
      background-color: #fd6e0a;
      border-radius: 5px;
       border: none;
       padding: 18px 35px;
      font-weight: bold;
      font-size: 20px;
      color: white;
}

/* main style */
header{
    background-color: #fff8f3;
   padding-top: 50PX;
}

nav{
     width: 71%;
     max-width: 1140px;
 /* border: 1px solid red; */
 margin: 0% auto;
display: flex;
justify-content: space-between;
  align-items: center;
}

nav .menu{ display: flex;
           list-style: none;
           gap: 51px;
           align-items: center;
}

nav .menu a{
              text-decoration: none;
              color: #474747
              font-size: 20px;
}

